[Unit]
Description=Mydaemon testing via by systemd
[Service]
ExecStart=/usr/local/sbin/09.mydaemon-systemd
Restart=on-failure
Type=forking
PIDFile=/run/mydaemon.pid
[Install]
WantedBy=multi-user.target


