[Unit]
Description=Newdaemon for testing
[Service]
#ExecStart=/usr/local/sbin/10.newdaemon
ExecStart=/home/educafe/lab/04.process/10.newdaemon
Restart=on-failure
Type=simple
[Install]
WantedBy=multi-user.target


